<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Error de ID No Encontrado</title>
  <!-- Vinculación de Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Error!</h4>
    <p>Encuesta no encontrada. Por favor, verifica la encuesta que intentas eliminar.</p>
    <hr>
    <p class="mb-0">Regresa a la <a href="/admin/encuestas" class="alert-link">lista de encuestas</a> para intentar de nuevo.</p>
  </div>
</div>

<!-- Vinculación de Bootstrap JS y dependencias -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>